
.jumbotron {
background-image: url(https://images.unsplash.com/photo-1514846224086-b024b822f9a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
background-size: cover;

height: 100%;
min-height: 350px;
color:rgb(237, 245, 241)}
  



.display-4 {
   
}
.lead {
    color: rgb(195, 201, 200);
    font-weight: bold;
    background-color: rgb(81, 131, 129);

}

.card {
    margin:auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card-img-top {
    width: 286px;
    height: 190px;
    background-size: center;

}
.card-body {
    border-color: cadetblue;
    border-style: solid;
    border-width: thin;
}
.card-how {
    border-color: cadetblue;
    border-style: solid;
    border-width: thin;
    margin-top: 2rem;
    padding: 1rem;
}
.carousel-inner {
    height: 500px;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}
h3 {
    font-size:medium;
    background-color: snow;
}
.testimonials {
    background-color: rgb(195, 247, 247);
}

#Testimonial-carousel {
    padding: 7% 15%
    }

.carousel-control-prev {
        color:rgb(100, 175, 138);
    }
.card-text {
    word-wrap: break-word;
}
.card {
overflow: hidden;
border: none
}
.card-body {
  overflow: hidden;

}
.site-footer {
    background-color: rgb(245, 243, 238);
}
